{% extends 'base.html.twig' %}

{% block body %}
<p class="text-center">Pellentesque ut massa vitae tortor consequat adipiscing. Pellentesque ut massa vitae tortor consequat adipiscing.<br>Pellentesque ut massa vitae tortor consequat adipiscing.</p>
<div class="row">
    <div class="col-md-4">
        <img class="img-circle img-responsive" src="http://placekitten.com/g/300/300" alt="0">
        <br>
        <h3 class="text-center">care advice</h3>
        <p class="text-center">Pellentesque ut massa vitae tortor consequat adipiscing.</p>
    </div>
    <div class="col-md-4">
        <img class="img-circle img-responsive" src="http://placekitten.com/g/300/300" alt="0">
        <br>
        <h3 class="text-center">VETERINARY HELP</h3>
        <p class="text-center">Pellentesque ut massa vitae tortor consequat adipiscing.</p>
    </div>
    <div class="col-md-4">
        <img class="img-circle img-responsive" src="http://placekitten.com/g/300/300" alt="0">
        <br>
        <h3 class="text-center">OUR TIPS</h3>
        <p class="text-center">Pellentesque ut massa vitae tortor consequat adipiscing.</p>
    </div>
</div>
<p class="text-center"><a class="btn btn-primary" href="#">view more</a></p>
{% endblock %}

{% block slider %}
<img class="img-responsive" src="http://placehold.it/1600x400" alt="0">
{% endblock %}
